{% extends 'base.html.twig' %}

{% block title %}Hello GoldenBookController!{% endblock %}

{% block body %}
<div class="img-head row d-flex justify-content-center">
    <div class="col-8 align-self-center">
        <p class="text-center save">Save the Date</p>
        <p class="text-center save mt-2">Ngoc My & Gaël</p>
    </div>
</div>
{% endblock %}
